@model PagedList<SchoolManagement_343.Models.Context.SP_studentsDetail_Result1>

@{
    Layout = "~/Views/Shared/DashboardAdmin.cshtml";
}

<link href="~/Content/paginationcss.css" rel="stylesheet" />
@using PagedList.Mvc;
@using PagedList;

<link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

@if (TempData["studentTrue"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["studentTrue"]
    </div>
}

@if (TempData["studentFalse"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["studentFalse"]
    </div>

}



<div class="wrapper">
    <div class="">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">List of Students</h3>
                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap" id="myTable">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Student Name</th>
                                            <th>DOB</th>
                                            <th>Contact</th>
                                            <th>Email</th>
                                            <th>Gender</th>
                                            <th>Address</th>
                                            <th>Teacher</th>
                                            <th>city</th>
                                            <th>State</th>
                                            <th>Country</th>
                                            <th>Type of Student</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*@{int i = 1;}*@
                                        @{
                                            int Index = (Model.PageNumber - 1) * Model.PageSize + 1;
                                            int i = Index;
                                        }
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.Student_Name</td>
                                                <td>@item.DOB.ToString("yyyy-MM-dd")</td>
                                                <td>@item.sPhone</td>
                                                <td>@item.sEmail</td>
                                                <td>@item.Gender</td>
                                                <td>@item.sAddress</td>
                                                <td>@item.teacher</td>
                                                <td>@item.cityName</td>
                                                <td>@item.sName</td>
                                                <td>@item.cName</td>
                                                <td>@item.Student_Type</td>
                                                <td>
                                                    <a class=' fas fa-edit' style='font-size:24px; color: goldenrod' href="@Url.Action("editStudent", "Students", new {stdId = item.stdId, cId = item.cId, sId = item.sId})"></a>
                                                    <a class='fas fa-trash' style='font-size:24px; color: indianred' href="@Url.Action("DeleteStudent", "Students", new {stdId = item.stdId})"></a>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                                <div class="pagination-container"> @Html.PagedListPager(Model, istudent => Url.Action("studentDetails", "Students", new { istudent, search = Request.QueryString["search"] }))</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @*<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>*@
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>*@
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- AdminLTE App -->
    @*<script src="~/Content/dist/js/adminlte.min.js"></script>*@
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>
    @*<script>
            let table = new DataTable('#myTable');
        </script>*@


</div>