@model studentRegistration.Models.Country

@{
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">Dashboard</span>
        </div>
        <span class="admin_name me-5" style="color: black">Welcome back @Session["Name"]</span>
    </nav>

    <div class="home-content">
        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="title">Add Country</div>
                <div class="sales-details">

                    <div class="container">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="">
                                <div class="d-flex justify-content-center">
                                    <img src="~/Content/casual-life-3d-boy-looking-at-the-globe-through-magnifying-glass.png" />
                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group d-flex justify-content-center">
                                    <div class="col-md-12 mt-5 mx-3">
                                        Add Country Name Here
                                        @Html.EditorFor(model => model.cName, new { htmlAttributes = new { @class = "" } })
                                        @Html.ValidationMessageFor(model => model.cName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-10 mx-3">
                                        <input type="submit" style="background-color: #dfaf69; color: white " value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" style="background-color: #0A2558 " class="btn mx-2"><a style="text-decoration: none; color: white" href="@Url.Action("ShowCountries", "country_state_city")">Go to List</a></button>
                            </div>
                        }
                    </div>

                </div>
            </div>

        </div>
    </div>


</section>
