<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="~/Content/paginationcss.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Geographical Details<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Country<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("CountryIndex", "Country")">Country List</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("AddCountry", "Country")">Add Country</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">State<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("StateIndex", "State")">State List</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("AddState", "State")">Add State</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">City<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("CityIndex", "City")">City List</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("AddCity", "City")">Add City</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">City<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="divider"></li>
                                <li><a href="@Url.Action("CityIndex", "City")">City List</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("AddCity", "City")">Add City</a></li>
                            </ul>
                        </li>*@

                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Teacher<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="divider"></li>
                                <li><a href="@Url.Action("TeacherIndex", "Teacher")">Teacher List</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("AddTeacher", "Teacher")">Add Teacher</a></li>
                            </ul>
                        </li>*@

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Educational Details<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Student<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("StudentIndex", "Student")">Student List</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("AddStudent", "Student")">Add Student</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Teacher<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("TeacherIndex", "Teacher")">Teacher List</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("AddTeacher", "Teacher")">Add Teacher</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Subject<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("SubjectIndex", "Subject")">Subject List</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("AddSubject", "Subject")">Add Subject</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right"> <li>@Html.ActionLink("Logout", "Logout", "User")</li></ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        // Enable nested dropdown menu
        $('.dropdown-submenu .dropdown-toggle').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            $(this).parent().siblings().removeClass('open');
            $(this).parent().toggleClass('open');
        });
    </script>

</body>
</html>
